@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');

body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #0B0B0B;
}

header img{
	display: flex;
	border-radius: 87px;
	width: 170px;
	margin: auto;
	margin-top: 50px;
	border: #000 6px solid;
	box-shadow: -12px 7px 8px #da759b, 10px 10px 8px #77efa7,1px -11px 8px #efa85f;
}

header h1{
	font-family: 'Bungee Hairline';
	color: #FAE8B8;
	font-size: 3em;
	text-align: center;
	margin-bottom: 63px;
	box-shadow: 0px 17px 0px #FFFFFF;
}

.card{
  	width: 73%;
  	padding: 13px;
  	border-radius: 0px 17px 72px 72px;
  	background-color: #0B0B0B;
	display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 66px;
    box-shadow: 0px 6px 13px #29563b;
}

.card div{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main h2{
	margin: 0;
	text-align: center;
	border-width: 0px 6px 5px 0px;
	border-style: solid;
  	border-color: #ad1951;
	border-radius: 0px 16px 0px 0px;
	color: #0B0B0B;
	background-color: #15f76f;
	font-family: 'Kodchasan', cursive;
}

.fas, .fab{
	color: #f38f28;
	margin: 18px;
}

main ul{
	margin-right: auto; 
	margin-left: auto;
	padding: 0;
}

main ul li{
	color: #FAE8B8;
	padding: 0;
	font-family: 'Ruluko', cursive;
	font-size: 1.3em;
	display: flex;
    align-items: center;
    margin: 11px 11px;

}
main ul li strong{
	font-weight: bold;
}

.bottom {
	margin-left: 4%;
	color: #FAE8B8; 
	text-decoration: none;
}

@media only screen and (min-width:768px){
	.card{
  		width: 364px;
  	}
}

@media only screen and (min-width:1440px){
	.card{
  		width: 497px;
  	}
}